@media (max-width: 992px) {
  .shop-link {
    margin-top: 0.6em;
  }

  .story-container {
    grid-template-columns: 1fr;
    grid-template-rows: 320px auto;
  }

  /* bring story image on top */
  .story-container:first-of-type img {
    grid-row: 1 / 2;
  }

  .story-container img {
    border-radius: 8px 8px 0 0;
  }

  .story-container:last-child img {
    border-radius: 8px 8px 0 0;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 3em;
  }

  .hero p {
    font-size: 1em;
  }

  .story-container div {
    font-size: 14px;
    padding: 14px 24px;
  }
}

@media (max-width: 425px) {
  .contacts-links {
    flex-direction: column;
    gap: 16px;
  }
}
